@import url('https://fonts.googleapis.com/css?family=PT+Sans|Patua+One&display=swap');

*{
  font-family: 'PT sans', Arial, sans-serif;
  font-size: 18px;
}
/*Color de fondo del la pagina*/
body{
  background-color: #3EBD1C;
  color: black;
}
/*HEADER*/

/*Color de fondo y letra mas el efecto de sombra en los bordes y el posicionamiento del contenido con flex-box para
ponerlos a la misma distancia*/
header {
  background-color: white;
  box-shadow: inset 0px 0px 40px 35px #3EBD1C;
  padding: 2%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}

/*Ajustes a la imagen para que no pege con la sombra y parezca que esta dentro*/
header img {
  margin-top: -20px;
  width:  300px;
  height: auto;
}

/*Tamaño de la letra del titulo y posicion del mismo*/
h1 {
  font-family: 'Patua One';
  align-self: center;
  font-size: 40px;
}

/*MENU*/

/*Quitar el estilo predeterminado a la lista y posicionamiento de la misma*/
#menu {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  padding-inline-start: 0;
}

/*Se establece el ancho de cada item de la lista para que ocupen lo mismo y se alinea el texto en el centro, se cambia
el color de fondo y el tamaño de la letra y le damos un borde de color verde para que resalte del fondo*/
.menuItem {
  width: 50%;
  padding: 5px 0;
  text-align: center;
  border: 2px solid green;
  font-size: 25px;
  background-color: #EFF5EE;
}

/*Se les pone el borde redondo a los dos items del menu de tal manera que entre ellos queden unidos (sin bordes redondos)*/

/*Aqui es para que solo tenga borde redondo a la izquierda*/
#estadoM {
  border-radius: 29px 0px 0px 29px;
  border-right: none;
}

/*Y aqui para que solo tenga borde redondo a la derecha*/
#accionesM {
  border-radius: 0px 29px 29px 0px;
  border-left: none;
}

/*Cuando el raton pase por encima del menu item se cambiara el color del fondo para que se vea se puede clicar ahí*/
li:hover{
    background-color: #D2D9D1;
}

/*EMERGENCIA*/

/*Esta caja solo aparecera si recibimos del automata que ha habido una emergencia*/
#emergencia{
  /*Aqui se define el tamaño con el color de fondo y su borde*/
  margin: 5px;
  background-color: #FF896F;
  height: 8.5em;
  border: 2px groove #FF5733;
  border-radius: 29px 29px 29px 29px;
  /*Y aqui tenemos la animacion que va ha hacer que el div se abra o cierre*/
  transition: all 0.3s ease;
  animation-duration: 0.7s;
  overflow: hidden;
}

#emergenciaImg{
  /*Posicionamiento y tamaño de la imagen*/
  display:block;
  margin:auto;
  height: auto;
  padding-top:5px;
  /*Animacion que hace que la imagen aumente el tamaño*/
  animation-name: crecer;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

/*Animacion crecer que hace que la imagen vaya cambiando de tamaño de 0.7 del tamaño base a 1.1 del tamaño base*/
@keyframes crecer{
  from{
  transform: scale(0.5);
  }

  25%{

  transform: scale(0.9);
  }

  50%{

  transform: scale(0.5);
  }

  75%{

  transform: scale(0.9);
  }

  to{

  transform: scale(0.5);
  }
}

/*Animacion que abre la caja emergencia que pasa de no tener altura a tener 12.5em*/
@keyframes abrir{
  from{
    height: 0;
  }
  to{
    height: 8.5em;
  }
}

/*Animacion que cierra la caja emergencia que hace la mismo que el de abrir pero a la inversa*/
@keyframes decrease{
  from{
    height: 8.5em;
  }
  to{
    height: 0;
  }
}

/*CONTENIDO*/

/*Anchura del 80% para dejar dos columnas vacias a los lados. Margen con la parte del menu y la emergencia si esta, 0 de
separación con el footer para que esten pegados y auto a los lados para que se centre en la página. Definicion del color
de fondo. Forma del div con puntas redondas*/
#contenido {
  width: 80%;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 20px;
  background-color: #EFF5EE;
  border-radius: 29px 29px 0px 0px;
}

/*ACCIONES*/

#acciones{
  overflow: hidden;
}

/*Color para los botones*/
#botonParar, #botonAbrir{
    background-color: rgb(171, 11, 53);
}

#botonSeguir, #botonCerrar{
    background-color: #4CAF50;
}

/*Diseño del boton ir*/
#botonIr{
    background-color: rgb(36, 50, 206);
    color: white;
    padding: 15px 25px;
    text-align: center;
    /*display: inline-block;*/
    font-size: 16px;
    /*margin: 5px 5px;*/
    cursor: pointer;
}

/*Diseñp de los botones de interaccion con el trnavia*/
.botones{
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

/*Posicionamiento del los botones*/
#botizq{
    float: left;
}
#botDer{
    float: right;
    width: 48%;
}

/*FOOTER*/

/*Al igual que el contenido tiene una anchura del 80% para dejar dos columnas vacias a los lados. Margen con la parte
de abajo de la pagina, 0 de separación con el contenido para que esten pegados y auto a los lados para que se
centre en la página. Definicion del color de fondo que es diferente al del contenido para que se vea la diferencia.
Forma de la caja con borde redondo y separacion entre el contenido del mismo*/
footer {
  width: 80%;
  margin: 10px auto;
  margin-top: 0;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 0px 0px 29px 29px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/*Ajuste a la imagen de github*/
#github_logo {
  width: 40px;
  height: 40px;
}
/**Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/**Acaba Switch*/

#posicionTranvia{
  height: 300px;
  display: flex;
  flex-direction: column; 
  padding: 0 8%;    
}

.trianguloposicion{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px;
  border-color: black transparent transparent transparent;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,.5));
  float:right;
  margin:2% 14% 0 12.8%;
  transition:all 0.3s ease;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
  .barra{
    height: 5%;
    width: 100%;
    background-color: black;
  }
  #contflechas{
    height: 53% ;
    width: 100%;
    display: flex;
    justify-content: center;  
    margin-left:6%;
  }

  @keyframes parada{
    from{
      margin-top: 20px;
    }
    25%{
      margin-top: 40px;
    }

    50%{
      margin-top: 20px;
    }

    75%{
      margin-top: 40px;
    } 

    to{
      margin-top: 20px;
    }
  }

  #contbola{
    padding: 0 9% 0 7%; 
  }

  #bolapos{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius:40px;
    margin-top: -154px;
    transition:all 0.3s ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }