@import url('https://fonts.googleapis.com/css?family=PT+Sans|Patua+One&display=swap');
@media (max-width: 799px)
*{
  font-family: 'PT sans', Arial, sans-serif;
  font-size: 18px;
}

h2{
  padding-bottom: 10%;
  font-style: bold
}
/*Color de fondo del la pagina*/
body{
  background-color: #EFF5EE;
  color: black;
  z-index: 1;
}
/*HEADER*/

/*Color de fondo y letra mas el efecto de sombra en los bordes y el posicionamiento del contenido con flex-box para
ponerlos a la misma distancia*/
header {
  background-color: #3EBD1C;
  box-shadow: inset 0px 0px 40px 35px #EFF5EE;
  padding: 2%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}

/*Ajustes a la imagen para que no pege con la sombra y parezca que esta dentro*/
header img {
  margin-top: -20px;
  width:  300px;
  height: auto;
}

/*Tamaño de la letra del titulo y posicion del mismo*/
h1 {
  font-family: 'Patua One';
  align-self: center;
  font-size: 40px;
}

/*MENU*/

/*Quitar el estilo predeterminado a la lista y posicionamiento de la misma*/
#menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  margin:0;
  box-shadow:3px 3px 5px #BEBEBE ;
  z-index: 2;
  height: 6%;
}

/*Se establece el ancho de cada item de la lista para que ocupen lo mismo y se alinea el texto en el centro, se cambia
el color de fondo y el tamaño de la letra y le damos un borde de color verde para que resalte del fondo*/
.menuItem {

  width: 50%;
  padding: 39px 0;
  text-align: center;
  border: 0.016px solid #BEBEBE;
  font-size: 25px;
  background-color: #E0E8DF;
}

/*EMERGENCIA*/

/*Esta caja solo aparecera si recibimos del automata que ha habido una emergencia*/
#emergencia{
  margin:0px -0.8% 0 -0.8%;
  /*Aqui se define el tamaño con el color de fondo y su borde*/
  background-color: #FF896F;
  height: 8.5em;
  border: 2px groove #FF5733;
  /*Y aqui tenemos la animacion que va ha hacer que el div se abra o cierre*/
  transition: all 0.3s ease;
  animation-duration: 0.7s;
  overflow: hidden;
}

#emergenciaImg{
  /*Posicionamiento y tamaño de la imagen*/
  display:block;
  margin:auto;
  height: auto;
  padding-top:5px;
  /*Animacion que hace que la imagen aumente el tamaño*/
  animation-name: crecer;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

/*Animacion crecer que hace que la imagen vaya cambiando de tamaño de 0.7 del tamaño base a 1.1 del tamaño base*/
@keyframes crecer{
  from{
  transform: scale(0.5);
  }

  25%{

  transform: scale(0.9);
  }

  50%{

  transform: scale(0.5);
  }

  75%{

  transform: scale(0.9);
  }

  to{

  transform: scale(0.5);
  }
}

/*Animacion que abre la caja emergencia que pasa de no tener altura a tener 12.5em*/
@keyframes abrir{
  from{
    height: 0;
  }
  to{
    height: 8.5em;
  }
}

/*Animacion que cierra la caja emergencia que hace la mismo que el de abrir pero a la inversa*/
@keyframes decrease{
  from{
    height: 8.5em;
  }
  to{
    height: 0;
  }
}

/*CONTENIDO*/

/*Anchura del 80% para dejar dos columnas vacias a los lados. Margen con la parte del menu y la emergencia si esta, 0 de
separación con el footer para que esten pegados y auto a los lados para que se centre en la página. Definicion del color
de fondo. Forma del div con puntas redondas*/
#contenido {
  padding: 39px 74px;
  position: relative;
  background-color: #EFF5EE;
}

/*ACCIONES*/

#acciones{
  padding-top: 16%;
  display: flex;
  flex-direction: column;
}
/*para que el fondo blanco ocupe todo el alto de acciones*/
#acciones::after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/*Color para los botones*/
#botonParar, #botonAbrir{
    background-color: rgb(171, 11, 53);
}

#botonSeguir, #botonCerrar{
    background-color: #4CAF50;
}

/*Diseño del boton ir*/
#botonIr{
    background-color: rgb(36, 50, 206);
    color: white;
    padding: 15px 25px;
    text-align: center;
    /*display: inline-block;*/
    font-size: 16px;
    /*margin: 5px 5px;*/
    cursor: pointer;
}

/*Diseñp de los botones de interaccion con el trnavia*/
.botones{
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

/*Posicionamiento del los botones*/
#botizq{
    float: left;
    display: flex;
    justify-content: space-around;
}
#botDer{
    width: 58%;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    margin-top: 30%;
}

#mandarPosicion{
    position: absolute;
    margin-top: 6.5%;
    left: 20%;
}

#mandarParada{
    position: absolute;
    left: 70%;
}

/*FOOTER*/
footer{
  visibility: hidden;
}
/*Al igual que el contenido tiene una anchura del 80% para dejar dos columnas vacias a los lados. Margen con la parte
de abajo de la pagina, 0 de separación con el contenido para que esten pegados y auto a los lados para que se
centre en la página. Definicion del color de fondo que es diferente al del contenido para que se vea la diferencia.
Forma de la caja con borde redondo y separacion entre el contenido del mismo*/

/*Ajuste a la imagen de github*/
#github_logo {
  visibility: visible;
  top:30%;
  right: 3%;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

#correo{
  visibility: visible;
  top:40%;
  right: 3%;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-image:url(logoGmail.png);
  background-position: center;
  background-size: contain; 
}
#correo a{
  display: none;
}
#posicionTranvia{
  height: 300px;
  display: flex;
  flex-direction: column; 
  padding: 0 8%;   
  width: 70%; 
}

.trianguloposicion{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px;
  border-color: black transparent transparent transparent;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,.5));
  float:right;
  margin:2% 14% 0 12.8%;
  transition:margin-top 0.3s;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
  .barra{
    height: 5%;
    width: 100%;
    background-color: black;
  }
  #contflechas{
    height: 53%;
    width: 94%;
    display: flex;
    justify-content: center;
    margin-left: 4.5%;
  }

  @keyframes parada{
    from{
      margin-top: 20px;
    }
    25%{
      margin-top: 40px;
    }

    50%{
      margin-top: 20px;
    }

    75%{
      margin-top: 40px;
    } 

    to{
      margin-top: 20px;
    }
  }

  #contbola{
    padding: 0 9% 0 7%; 
  }

  #bolapos{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius:40px;
    margin-top: -154px;
    transition:margin-left 4s;
  }
  #idGrafico{
    width: 30%;
    height: 30%;
    float: left;
  }
  #grafico{
    margin: 2%;
    overflow: hidden;
    display: none;
  }
  /*para que el fondo blanco ocupe todo el alto de acciones*/
#grafico::after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}